  <!-- Begin Item details -->
  <section>

    <div class="row">

      <div class="col-md-8s col-md-offset-2 text-left">
        <h4>
          <small>
            {{ item._item_name }}
          </small>
        </h4>
      </div>

    </div>

   
    <div class="row">

      <div class="col-sm-2 col-sm-offset-3 text-left">
        <a class="login-link" href="/item/{{ item._item_id | safe }}/edit">Edit</a>
      </div>

    </div>

  </section>

  <div class="row">
    <div class="col-md-12">
      <hr class="hr">
    </div>
  </div>